* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,
body {
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 100px;

}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  
}
.main-content {
  flex: 1;
}

/*! HEADER */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgb(236, 234, 234);
  box-shadow: 3px 3px 10px gray;
  position: sticky;
  top: 0;
  z-index: 1000;
  
}
/* HEADER IMG */
.kingdom-img {
  width: 200px;
}
.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper {
  /* margin-left: 4rem; */
}

/*! NAV */
.nav-list {
  flex: 1;
  display: flex;
  list-style: none;
  gap: 3rem;
}
/* Links */
a:link {
  display: block;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: white;
}
a:active {
  font-style: italic;
}



/*! Main-content */
main {
  flex: 1;
  display: flex;
}
.main-content {
  display: flex;
  /* flex-direction:column; */
}
.class-info {
  flex: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-shin-container {
  flex: 1;
  position: relative;
  /* background-color: white; */
}
.shin {
  position: absolute;
  height: 500px;
  bottom: 0;
  right: -100px;
}

/*! Footer */
footer{
  text-align: center;
  padding: 1rem;
  background-color: rgb(236, 234, 234);
  box-shadow: -3px -3px 10px gray;
}

/*! Responsive */
@media (max-width: 480px) {
  .main-header {
    flex-direction: column;
    margin: 0;
    height: 200px;
  }
  .img-wrapper {
    margin: 0;
    padding: 10px;
  }
  .nav-list {
    gap: 1rem;
  }
  .main-content {
    flex-direction: column;
    height: 100vh;
  }
  .img-shin-container {
    flex: 400px;
    position: relative;
  }
  .class-info {
    flex: 1;
    /* box-shadow: 5px 5px 10px black; */
  }
  .shin {
    height: 100%;
  }
  .info-wrapper {
    padding: 2rem;
  }
  .nav-section{
    margin-bottom: 10px;
  }
}
